.fileDetail {
	height: 70%;
	width: 85%;
	margin: auto auto;
	/* padding: 1vw; */
	background-color: #fbffa5;
	border: 2px solid black;
	border-radius: 8px;

	.fileDetailTitle {
		/* display: inline-block; */
		font-weight: bold;
		font-size: 1.2rem;
		/* margin: 1vh; */
	}

	.fileDetailData {
		margin: 1vh 0;
		font-size: 1rem;
	}
}